@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: lightblue;
}

img {
    width: 100%;
    /* object-fit: cover; */
    border-radius: .6rem;
}

main {
    width: 15%;
    margin: 10rem auto;

}
.container {
    border-radius: 1rem;
    padding: .8rem;
    background: white;
    box-shadow: 0.2rem 0.2rem .6rem rgba(0, 0, 0, .2);
}



.bottom {
    text-align: center;
    padding: 0 .7rem;
    
}

.bottom h4 {
    margin: 1rem 0 .8rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);

}

.bottom p {
    margin-bottom: 1rem;
    color: gray;
    font-size: .7rem;
    font-weight: 400;
}

@media screen and (max-width: 768px) {

    main {
        width: 40%;
    }
    
}

@media screen and (max-width: 480px) {

    main {
        width: 60%;
    }
    
}




































